/* General styles */
body {
    font-family: sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
  }
  
  a {
    text-decoration: none;
  }
  
  /* Specific styles for header, sections, and footer */
  .container-fluid {
    background-color: #f5f5f5;
  }
  
  header {
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  .btn-success {
    background-color: #28a745;
    border-color: #28a745;
  }
  
  section {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  footer {
    background-color: #f0f0f0;
  }
  
  /* Card styles */
  .card {
    border: 0;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  }
  