{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'login.css' %}">
</head>
<body>
    <div class="container" id="container">
        <div class="form-container sign-in-container">
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <h1>Sign in</h1>
                <input type="text" name="username" placeholder="Username" required />
                <input type="password" name="password" placeholder="Password" required />
                <a href="{% url 'forgot_password' %}">Forgot your password?</a>
                <button type="submit">Sign In</button>
            </form>
        </div>
    </div>
</body>
</html>
