{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link rel="stylesheet" href="{% static 'user_dashboard.css' %}">
</head>
<body>
    <div class="dashboard">
        <div class="dashboard-nav">
            <header>
                <a href="#" class="brand-logo"><i class="fas fa-anchor"></i> <span>{{ user.username }}'s Panel</span></a>
            </header>
            <nav class="dashboard-nav-list"> 
                <a href="{% url 'book_projector' %}" class="dashboard-nav-item"><i class="fas fa-tachometer-alt"></i> Book a Projector</a>
                <a href="{% url 'booking_history' %}" class="dashboard-nav-item active"><i class="fas fa-home"></i> Booking History</a>
                <a href="{% url 'available_projectors' %}" class="dashboard-nav-item"><i class="fas fa-tachometer-alt"></i> Check Available Projector</a>
                <a href="{% url 'about_aics' %}" class="dashboard-nav-item"><i class="fas fa-file-upload"></i> About AICS</a>

  
            <a href="{% url 'logout' %}" class="btn btn-primary">Logout</a>
        </div>
        <main class="dashboard-app">
            <header class="dashboard-toolbar">
                <a href="#!" class="menu-toggle"><i class="fas fa-bars"></i></a>
            </header>
            <div class="dashboard-content">

                <h1>Welcome to your dashboard content {{ user.username }}.</h1>
            </div>
        </main>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>