{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Projector</title>
    <link rel="stylesheet" href="{% static 'book_projector.css' %}">
</head>
<body>
    <div class="container mt-5">
        
        <h1>Book a Projector</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="projector-type">Projector (type):</label>
                <select id="projector-type" name="projector_type" required>
                    {% for projector in projectors %}
                        <option value="{{ projector.id }}">{{ projector.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="booking-date">Booking date:</label>
                <input type="date" id="booking-date" name="booking_date" required>
            </div>
            <div class="form-group">
                <label for="start-time">Start time:</label>
                <input type="time" id="start-time" name="start_time" required>
            </div>
            <div class="form-group">
                <label for="end-time">End time:</label>
                <input type="time" id="end-time" name="end_time" required>
            </div>
            <button type="submit" class="btn btn-primary">Book</button>
            <a href="{% url 'user_dashboard' %}" class="back-button">Back to Dashboard</a>
        </form>
    </div>
</body>
</html>