{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About AICS</title>
    <link rel="stylesheet" type="text/css" href="{% static 'about.css' %}">
</head>

<body>
    <a href="{% url 'admin_dashboard' %}" class="btn btn-secondary mt-3">Return dashboard</a>
    <div class="container mt-5">
        <h1 class="text-center mb-4">About IAI Cameroon</h1>
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Public University</h2>
                <p class="card-text">IAI Cameroon (Institut Africain d'Informatique, Cameroon) is a public university located in Yaoundé, Cameroon. It is also known as the Centre d'Excellence Technologique Paul Biya. The university has positive reviews with a 4.10 rating on Google based on 208 reviews (as of today, May 31, 2024).</p>
                <h2 class="card-title">Focus on Technology</h2>
                <p class="card-text">IAI Cameroon offers programs in various information technology fields, including Telecommunications and Networks, Cybersecurity, and Management of Information Systems. They also have a UNESCO Chair in Social Sciences and Educational Engineering applied to Digital Technologies.</p>
                <h2 class="card-title">Open Today</h2>
                <p class="card-text">Their hours today (Friday, May 31, 2024) are 8:00 am to 4:00 pm.</p>
            </div>
        </div>
    </div>
</body>

</html>